<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <div class="image-frame">
            <img src="{% static 'media/cats_with_fire.jpg' %}"
                        alt="Picture of two cats next to a fire" /> 
        </div>

        <div>
            <h1>All the cats are:</h1>
        </div>

        <div>
            <ul>
                {% for cat in cats %}
                    <li>{{ cat.name }}</li>
                {% endfor %}
            </ul>
        </div>

        <div>
            <!-- this needs changed so just home is linekd not the whole sentence -->
            <p>Click to go back to <a href="/pets_for_students/">Home</a></p>

        </div>
    </body>
</html>
